{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New pages</h1>
    <form action="{% url 'new'%}" method="POST">
        {%csrf_token%}
        <lable>Title</lable>
        <input type="text" name="title" placeholder="title">
        <br><lable>Content</lable><br>
        <textarea name="content" rows="4" cols="20"></textarea><br>
        <input type="submit" value="NewPage" class="btn btn-primary">
    </form>
   
{% endblock %}